.body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  background-color: 2B2C35;
}

.inputFieldStyle {
  padding: 12px;
  background-color: #2b2c35;
  border: 0;
  border-radius: 4px;
  margin-bottom: 8px;
  position: relative;
  color: white;
}


.inputFieldStyle:focus {
  outline: none;
}