.container {
  width: 100%;
  height: 64px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInfoContainer {
  display: flex;
  align-items: center;
  margin-right: 64px;
  flex: 1;
}

.loggedInUser {
  display: flex;
  align-items: center;
  color: white;
}